.c-loadmore {
    overflow: hidden;
    
    
    &-content {
        border-top: solid transparent 1px;
        & .is-dropped {
            transition: .2s;
        }
    }

    &-top, &-bottom {
        text-align: center;
        height: 65px;
        line-height: 65px;
    }

    &-top {
        margin-top: -65px;
    }

    &-bottom {
        margin-bottom: -65px;
    }

    &-loading {
        display: inline-block;
        margin-right: pxToRem(5);
        vertical-align: middle;
    }

    &-text {
        vertical-align: middle;
    }
  }